@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;

@tailwind components;
@tailwind utilities;

@layer base {
  * {
    /* @apply bg-green-400/[0.2]; */
    box-sizing: border-box;
  }
}

@font-face {
  font-family: "PlanetKosmos";
  src: url("./assets/Fonts/planet_kosmos/PLANK___.TTF");
}

/* @layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
} */
